#container {
	width: 100%;
	padding-top: 30px;
}

#text {
	margin: 0 auto;
	width: 570px;
}

* {
	font-family: 'Open Sans';
}

p {
	font-size: 16px;
}

label {
	font-size: 20px;
}

#checkLabel {
	margin-top: 20px;
}

.textarea {
	width: 49%;
	display: inline-block;
}

textarea {
	width: 99%;
	height: 800px;
	font-size: 14px;
	box-sizing: border-box;
	padding: 10px;
}

#isStringArray {
	margin-bottom: 20px;
}